.root {
    -color-accent-emphasis: rgba(106, 90, 205, 1.0); /* slateblue */
}

.dark {
    -fx-base-background: rgba(0, 0, 0, 0.1);
    -fx-edited-background: rgba(106, 90, 205, 0.1);
    -fx-disabled-background: rgba(10, 10, 10, 0.25);
    -fx-hover-background: rgba(0, 0, 0, 0.15);
    -fx-shadow-color: rgba(0, 0, 0, 0.5);
}

.light{
    -fx-base-background: rgba(250, 252, 255, 1.0);
    -fx-edited-background: rgba(106, 90, 205, 0.15);
    -fx-disabled-background: rgba(106, 90, 205, 0.1);
    -fx-hover-background: rgba(245, 250, 255, 1.0);
    -fx-shadow-color: rgba(60, 65, 70, 0.5);
}

.bordered-container {
    -fx-padding: 10px 10px 15px 15px;
    -fx-background-radius: 5px;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-width: 1;
    -fx-border-radius: 8;
}

.disabled-entry{
    -fx-background-color: -fx-disabled-background !important;
}

.edited-field{
    -fx-border-color: -color-accent-emphasis;
    -fx-border-width: 0.9px;
    -fx-border-radius: 4px;
    -fx-border-style: solid;
}

.dark .bordered-container {
    -fx-background-color: -fx-base-background;
    -fx-effect: dropshadow(one-pass-box, -fx-shadow-color, 4, 0.0, 0, 1);
}

.dark .bordered-container:hover{
    -fx-background-color: -fx-hover-background;
}

.light .bordered-container {
    -fx-background-color: -fx-base-background;
    -fx-effect: dropshadow(one-pass-box, -fx-shadow-color, 8, 0.0, 0.0, 0);
}

.light .bordered-container:hover {
    -fx-background-color: -fx-hover-background;
}

.light .terminal-wrapper{
    -fx-background-color: -fx-base-background;
}

.dark .terminal-wrapper{
    -fx-background-color: rgb(23, 27, 33);
}

.dark .field {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.25), 2, 0.0, 0, 1);
}

.light .field {
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 1), 1, 0.0, 0.0, 0.0);
}

.dark .icon {
    -fx-effect: dropshadow(one-pass-box, -fx-shadow-color, 2, 0.0, 0, 1);
}

.light .icon {
    -fx-effect: dropshadow(one-pass-box, -fx-shadow-color, 2, 0.0, 0, 1.5);
}

.autocomplete-entry {
    -fx-padding: 5px 10px 5px 10px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 5;
}

.dark.autocomplete-entry {
    -fx-background-color: rgba(21, 26, 33, 0.95);
}

.light.autocomplete-entry {
    -fx-background-color: rgba(234, 229, 222, 0.95);
}

.autocomplete-entry:hover, .autocomplete-entry:focused {
    -fx-background-color: rgba(42, 52, 66, 0.95) !important;
}

.notification-base {
    -fx-padding: 10px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 5;
}

.light.notification-base {
    -fx-background-color: rgb(230, 230, 230);
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.1), 2, 0.5, 0.0, 0.0);
}

.dark .notification-base {
    -fx-background-color: #0d1117;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 8, 0.5, 0.0, 0.0);
}

/* disabling controlsfx internal css background */
.notification-pane .notification-bar>.pane {
    -fx-background-color: transparent !important;
}

.notification-bar>.pane {
    -fx-background-color: transparent !important;
}

/* fix for controlsfx 11.2.2 exception */
.dark.notification-bar>.pane {
    -fx-background-color: rgb(23, 27, 33);
}

/* //// */

.ordering-container * {
    -fx-background-color: transparent;
}

.error-popup{
    -fx-padding: 15px;
    -fx-spacing: 20px;
}

.output-message {
    -fx-padding: 10px 10px 10px 10px;
    -fx-alignment: top;
    -fx-background-color: #1b181b;
}

.output-message * {
    -fx-background-color: transparent;
}

.no-outline-btn {
    -fx-background-color: transparent;
}

/* Reset */
.ansi-reset {
    -fx-fill: inherit;
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-underline: false;
    -fx-strikethrough: false;
}

/* Text styles */
.ansi-bold {
    -fx-font-weight: bold;
}

.ansi-dim {
    -fx-opacity: 1;
}

.ansi-italic {
    -fx-font-style: italic;
}

.ansi-underline {
    -fx-underline: true;
}

.ansi-strikethrough {
    -fx-strikethrough: true;
}

.ansi-fg-bright-black {
    -fx-fill: #000000 !important;
}

.ansi-fg-bright-gray {
    -fx-fill: gray !important;
}

/* Light Gray */
.ansi-fg-bright-red,
.error-line {
    -fx-fill: #FF0000 !important;
}

/* Bright Red */
.ansi-fg-bright-green {
    -fx-fill: #32FF32 !important;
}

/* Neon Green */
.ansi-fg-bright-yellow {
    -fx-fill: #FFFF66 !important;
}

/* Bright Yellow */
.ansi-fg-bright-blue {
    -fx-fill: #66B2FF !important;
}

/* Sky Blue */
.ansi-fg-bright-magenta {
    -fx-fill: #FF66FF !important;
}

/* Hot Pink */
.ansi-fg-bright-cyan {
    -fx-fill: #66FFFF !important;
}

/* Electric Cyan */
.ansi-fg-bright-white {
    -fx-fill: #ffffff !important;
}

/* Pure White */

.centered-text {
    -fx-text-alignment: center;
}

.centered-highlighted-text {
    -fx-text-alignment: center;
    -fx-padding: 10px;
}

.dark .default-notif-text {
    -fx-fill: #ffffff !important;
    -fx-font-size: 14px !important;
}

.light .default-notif-text {
    -fx-fill: #000000 !important;
    -fx-font-size: 14px !important;
}

.dark .error-notif-title {
    -fx-fill: #FF0000 !important;
    -fx-font-size: 16px !important;
}

.light .error-notif-title {
    -fx-fill: #FF0000 !important;
    -fx-font-size: 16px !important;
}

.dark .info-notif-title {
    -fx-fill: #ffffff !important;
    -fx-font-size: 16px !important;
}

.light .info-notif-title {
    -fx-fill: #000000 !important;
    -fx-font-size: 16px !important;
}

.dark .success-notif-title {
    -fx-fill: #00FF00 !important;
    -fx-font-size: 16px !important;
}

.light .success-notif-title {
    -fx-fill: #00FF00 !important;
    -fx-font-size: 16px !important;
}

.bold-text {
    -fx-font-weight: 700;
    -fx-font-size: 14px !important;
}

.dark .bold-text {
    -fx-fill: #ffffff !important;
}

.light .bold-text {
    -fx-fill: #000000 !important;
}

.small-text {
    -fx-font-size: 12px !important;
}

.dark .small-text {
    -fx-fill: #ffffff !important;
}

.light .small-text {
    -fx-fill: #000000 !important;
}