#container {
    -fx-spacing: 50px;
}

#container .entry {
    -fx-spacing: 15px;
    -fx-padding: 10px 20px 10px 20px;
    -fx-background-color: rgba(21, 26, 33, 0.9);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width:5;
}

.notification-white{
    -fx-background-color: #f0f0f0;
}

.notification-dark{
    -fx-background-color: black;
}

.notification-bar.dark > .pane {
    -fx-background-color: black;
}

.ordering-container {
    -fx-spacing: 2px;
}

.ordering-container * {
    -fx-background-color: transparent;
}

.error-message {
    -fx-padding: 15px;
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.output-message {
    -fx-padding: 10px 10px 10px 10px;
    -fx-alignment: top;
    -fx-background-color: #1b181b;
}

.output-message * {
    -fx-background-color: transparent;
}

.no-outline-btn {
    -fx-background-color: transparent;
}

.command-output-container {
    -fx-padding: 5px 20px 0 20px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.light-mode {
    -fx-background-color: #ebebeb;
}

.dark-mode {
    -fx-background-color: transparent;
}

/* Reset */
.ansi-reset {
    -fx-fill: inherit;
    -fx-background-color: transparent;
    -fx-font-weight: normal;
    -fx-font-style: normal;
    -fx-underline: false;
    -fx-strikethrough: false;
}

/* Text styles */
.ansi-bold {
    -fx-font-weight: bold;
}

.ansi-dim {
    -fx-opacity: 1;
}

.ansi-italic {
    -fx-font-style: italic;
}

.ansi-underline {
    -fx-underline: true;
}

.ansi-strikethrough {
    -fx-strikethrough: true;
}

.ansi-fg-bright-black {
    -fx-fill: #000000 !important;
}

.ansi-fg-bright-gray{
    -fx-fill: gray !important;
}
/* Light Gray */
.ansi-fg-bright-red, .error-line {
    -fx-fill: #FF0000 !important;
}

/* Bright Red */
.ansi-fg-bright-green {
    -fx-fill: #32FF32 !important;
}

/* Neon Green */
.ansi-fg-bright-yellow {
    -fx-fill: #FFFF66 !important;
}

/* Bright Yellow */
.ansi-fg-bright-blue {
    -fx-fill: #66B2FF !important;
}

/* Sky Blue */
.ansi-fg-bright-magenta {
    -fx-fill: #FF66FF !important;
}

/* Hot Pink */
.ansi-fg-bright-cyan {
    -fx-fill: #66FFFF !important;
}

/* Electric Cyan */
.ansi-fg-bright-white {
    -fx-fill: #ffffff !important;
}

/* Pure White */

.centered-text{
   -fx-text-alignment: center;
}

.centered-highlighted-text{
   -fx-text-alignment: center;
   -fx-padding: 10px;
}

.error-notif-title {
    -fx-fill: #FF0000 !important;
    -fx-font-size: 14px !important;
}

.error-notif-text-white {
    -fx-fill: #ffffff !important;
    -fx-font-size: 12px !important;
}

.error-notif-text-black {
    -fx-fill: #000000 !important;
    -fx-font-size: 12px !important;
}

.info-notif-text-white {
    -fx-fill: #ffffff !important;
    -fx-font-size: 14px !important;
}

.info-notif-text-black {
    -fx-fill: #000000 !important;
    -fx-font-size: 14px !important;
}

.bold-text-white{
    -fx-fill: #ffffff !important;
    -fx-font-weight: 700;

}
.bold-text-black{
    -fx-fill: #000000 !important;
    -fx-font-weight: 700;
}

.small-text-white{
    -fx-fill: #ffffff !important;
    -fx-font-size: 12px !important;
}

.small-text-black{
    -fx-fill: #000000 !important;
    -fx-font-size: 12px !important;
}
