.root{
   -fx-font-family: "Cascadia Mono";
   -fx-font-weight: 500;
}
.light-mode-text .text{
     -fx-font-size: 18px !important;
}

.dark-mode-text .text{
     -fx-font-size: 18px !important;
}
#container .entry{
    -fx-spacing: 10px;
    -fx-alignment: center;
    -fx-padding: 10px 10px 10px 10px;
}

.name-field, .path-field, .command-field{
    /* -fx-pref-width: 250px; */
}

.ordering-container{
    -fx-spacing: 2px;
}

.ordering-container *{
    -fx-background-color: transparent;
}

.error-message{
    -fx-padding: 20px;
    -fx-spacing: 30px;
    -fx-alignment: center;
}

.output-message{
    -fx-padding: 10px 10px 10px 10px;
    -fx-alignment: top;
    -fx-background-color:  #1b181b;
}
.output-message *{
    -fx-background-color:  transparent;
}

.close-btn{
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}
.command-output-container{
    -fx-font-family: "Noto Sans" !important;
    -fx-font-weight: 700;
    -fx-padding: 0 15px 0 15px;
    -fx-background-color:  #1b181b;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}


/* Reset */
.ansi-reset {
  -fx-fill: inherit;
  -fx-background-color: transparent;
  -fx-font-weight: normal;
  -fx-font-style: normal;
  -fx-underline: false;
  -fx-strikethrough: false;
}

/* Text styles */
.ansi-bold { -fx-font-weight: bold; }
.ansi-dim  { -fx-opacity: 1; }
.ansi-italic { -fx-font-style: italic; }
.ansi-underline { -fx-underline: true; }
.ansi-strikethrough { -fx-strikethrough: true; }
.ansi-fg-bright-black   { -fx-fill: #000000 !important; }  /* Light Gray */
.ansi-fg-bright-red     { -fx-fill: #FF0000 !important; }  /* Bright Red */
.ansi-fg-bright-green   { -fx-fill: #32FF32 !important; }  /* Neon Green */
.ansi-fg-bright-yellow  { -fx-fill: #FFFF66 !important; }  /* Bright Yellow */
.ansi-fg-bright-blue    { -fx-fill: #66B2FF !important; }  /* Sky Blue */
.ansi-fg-bright-magenta { -fx-fill: #FF66FF !important; }  /* Hot Pink */
.ansi-fg-bright-cyan    { -fx-fill: #66FFFF !important; }  /* Electric Cyan */
.ansi-fg-bright-white   { -fx-fill: #ffffff !important; }  /* Pure White */