.root{
   -fx-font-family: "Lucida Console"
   -fx-padding: 10px;
}

#container .entry{
    -fx-padding: 10px;
    -fx-spacing: 15px;
    -fx-alignment: bottom-center;
}
.error-message{
    -fx-padding: 20px;
    -fx-spacing: 30px;
    -fx-alignment: center;
}
.close-btn{
    -fx-background-color: transparent;
    -fx-padding: 0 0 12px 0;
}